
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<IfModule mod_headers.c>
	SetEnvIf Origin "^https://rino-program\.github\.io$" ALLOWED_ORIGIN=$0
	Header always set Access-Control-Allow-Origin "%{ALLOWED_ORIGIN}e" env=ALLOWED_ORIGIN
	Header always set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With" 
	Header always set Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
	Header always set Access-Control-Allow-Credentials "true"
</IfModule>

